{% extends "base.html" %} 

{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<div class='main' >
    <div class="login-form">
        <h4>Welcome to InstaClone</h4>
        <p>You're not signed in! Login below.</p>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <p>Don't have an account? Create one <a href="/register">here</a></p>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}