{% extends "base.html" %}
{% load static %}

{% block title %}Explore{% endblock %}

{% block content %} 
<div class='main'>
    <h4>Explore</h4>
    {% if images %} {% for image in images %}

    <div class="card" style="width: 30rem; ">
        {% if image.imageuploader_profile and follower.profile.profile_pic.url %}
            <p class='headline'><a href="{% url 'profile' username=image.imageuploader_profile %}"><img class='profilepic' src="{{follower.profile.profile_pic.url}}"></a> - <strong>{{image.imageuploader_profile}}</strong><a href="{% url 'delete_post' post_id=image.image_id %}"><em style="padding-left: 200px;">delete</em></p></a>
            {% else %} 
            <p class='headline'><a href="{% url 'profile' username=image.imageuploader_profile %}"><strong>{{image.imageuploader_profile}}</strong></a></p>
            {% endif %}
        <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">

        <form action="{% url 'like_post' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_profile" value="{{image.imageuploader_profile}}" readonly/>
            <input type="hidden" name="post_id" value="{{image.image_id}}" readonly/>
            <input type="hidden" name="liker" value="{{liker}}" readonly/>
            <input type="hidden" name="value" value="like" readonly/>
            <div>
                <button type="submit" id='like' class="btn btn-outline-danger">{{image.likes_count}} Likes</button>
            </div>
        </form>
        <div class="card-body">
            <p class="card-text"><strong>{{image.imageuploader_profile}}</strong> - "{{image.image_caption}}"</p>
        </div>
    </div>
</div>
{% endfor %}
{% else %} 
<p>No images</p>
{% endif %}

{% endblock %}