{% extends "base.html" %}


{% block title %}Feed{% endblock %}

{% block content %}
{% load static %}
<div class='main' style="padding:50px;">
    <h4>Feed</h4>

    {% if all_images %} 
    {% for image in all_images %}

    <div class="card" id="post-card" style="width: 30rem; ">
        {% if image %}
        {% if image.imageuploader_profile and follower.profile.profile_pic.url %}
        <p class='headline'><a href="{% url 'profile' username=image.imageuploader_profile %}"><img class='profilepic' src="{{liker.profile.profile_pic.url}}"></a></p>
        
        {% else %} 
        <p class='headline'><a href="{% url 'profile' username=image.imageuploader_profile %}"><strong>{{image.imageuploader_profile}}</strong></a></p>
        {% endif %}
        <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">
        <div class="card-body">
            <form action="{% url 'like_post' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_profile" value="{{image.imageuploader_profile}}" readonly/>
                <input type="hidden" name="post_id" value="{{image.image_id}}" readonly/>
                <input type="hidden" name="liker" value="{{liker}}" readonly/>
                <input type="hidden" name="value" value="like" readonly/>
            <div>
                <button type="submit" id='like' class="btn btn-outline-danger">{{image.likes_count}} Likes</button>
            </div>
        </form>
        
            <p class="card-text"><strong>{{image.imageuploader_profile}}</strong> - "{{image.image_caption}}"</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %} 
<p>No images</p>
{% endif %}

{% endblock %}