{% extends 'base.html' %}

{% block content %}
<h1>{{followed.username|lower}}</h1>
{% if following == True %}
<form action="{% url 'unfollow_user' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="followed_user" value="{{followed}}" readonly/>
    <input type="hidden" name="follower" value="{{user.username}}" readonly/>
    <input type="hidden" name="value" value="unfollow" readonly/>
    <button type="submit" class="btn btn-secondary">
        Following
    </button>
</form>
{% elif following == False %}
    <form action="{% url 'follow_user' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="followed_user" value="{{followed}}" readonly/>
        <input type="hidden" name="follower" value="{{user.username}}" readonly/>
        <input type="hidden" name="value" value="follow" readonly/>
        <button type="submit" class="btn btn-secondary">
            Follow
        </button>
    </form>
{% endif %}
{% endblock %}