<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      .main{
        margin-Left:160px;
        margin-Right:160px;
        padding: 0px 10px;
      }

      .feed{
        margin-Left:160px;
        margin-Right:160px;
        padding: 20px;
      }

      .card{
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .headline{
        padding-left: 20px;
      }

      .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .profile-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .profile-container {
        padding: 2px 16px;
      }

      .likes-count {
        margin-left: 10px;
      }

      img {
        border-radius: 5px 5px 0 0;
      }

      a {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
    
      #like {
        margin: 10px;
      }
    </style>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}InstaClone{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="{% url "index" %}">InstaClone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url "index" %}">Home<span class="sr-only">(current)</span></a>
            {% else %}
              <a class="nav-link" href="{% url "login" %}">Home<span class="sr-only">(current)</span></a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url "explore" %}">Explore</a>
            {% else %}
              <a class="nav-link" href="{% url "login" %}">Explore</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url "post" %}">Post</a>
            {% else %}
              <a class="nav-link" href="{% url "login" %}">Post</a>
            {% endif %}
          </li>
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'account' %}">Account</a>
        {% else %}
            <a class="nav-link" href="{% url "login" %}" class="btn btn-">Login</a>
        {% endif %}
          {% if user.is_authenticated %} 
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% endif %}
        </ul>
        <form method="POST" class="form-inline" action='search'>
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div id="content", name="content", class="main">
        {% block content %}
        {% endblock content %}
    </div>

    
    <div>
      <footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Links  -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
        </section>
        <section class="">
          <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
            <div class="row mt-3">
        <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3" style="padding-top: 100px;"></i>InstaClone
                </h6>
                <p>
                  Instagram clone built by Sam Recile. 
                </p>
              </div>
        <!-- Grid column -->

        <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Pages
                </h6>
                <p>
                  <a href="{% url "index" %}" class="btn btn-secondary">Summary</a>
                </p>
                <p>
                  <a href="{% url "explore" %}" class="btn btn-secondary">Explore</a>
                </p>
                <p>
                  <a href="{% url "post" %}" class="btn btn-secondary">Post</a>
                </p>
              </div>
        <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
        <!-- Grid column -->
            </div>
      <!-- Grid row -->
          </div>
        </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright: Sam J. Recile III
        </div>
  <!-- Copyright -->
      </footer>
<!-- Footer -->
    </div>
    <!-- optional Js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>